/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h1 a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact,
#login {
  width: 50%;
  margin: auto;
}
#contact,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
  margin: 2em 0 1em 0;
}
#contact textarea,
#login textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

.boutons-filtre {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  margin: 20px 1px;
}

.btn-filtre {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: #1d6154;
  background-color: white;
  border: 1px solid #1d6154;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 200px;
  white-space: nowrap;
}

.btn-filtre:hover,
.btn-filtre.active {
  background-color: #1d6154;
  color: white;
}

#login-link {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}

.forgot-password {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #1d6154;
  text-decoration: underline;
  margin-top: 10px;
  cursor: pointer;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#login-link.logout {
  color: inherit;
  text-decoration: none;
}

#login-link.logout:hover {
  color: inherit;
  text-decoration: none;
}

/* Style pour le lien "Modifier" avec l'icône et le texte */
.modifier-link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-left: 15px;
}

.modifier-link i {
  font-size: 20px;
  margin-right: 5px;
}

.modifier-link:hover {
  color: black;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* app.js */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: white;
  border-radius: 8px;
  width: 60%;
  max-height: 100vh;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.modal-wrapper h2 {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: #1d6154;
}

.js-modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 5px;
  margin: 20px 0;
}

.modal-gallery img {
  width: 100%;
  max-width: 100px;
  height: auto;
  object-fit: cover;
}

.add-photo-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  border: 1px solid #1d6154;
  width: 180px;
  text-align: center;
  border-radius: 80px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 200px;
  white-space: nowrap;
  justify-self: center;
}

.modal-gallery .image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.modal-gallery .trash-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  color: white;
  padding: 6px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}

.modal-gallery .trash-icon:hover {
  background-color: red;
}

/*upload.js*/

/* Conteneur principal de la vue d'upload */
.modal-upload-view {
  display: flex!;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Ajout Photo */
.modal-upload-view h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Bouton retour (flèche) en haut à gauche */
.js-modal-back {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  background: none;
  border: none;
}

/* Conteneur d'upload centré */
.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8f1f6;
  width: 60%;
  border-radius: 8px;
  margin-bottom: 40px;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}

/* Icône de l'image */
.upload-container i {
  font-size: 50px;
  color: #ccc;
  display: block;
  margin-bottom: 10px;
}

/* Texte d'indication pour l'upload */
.upload-container p {
  font-family: "Work Sans", sans-serif;
  color: #666;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Bouton de téléchargement */
.upload-btn {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #306685;
  background-color: #cbd6dc;
  border: 1px solid #cbd6dc;
  width: 180px;
  text-align: center;
  border-radius: 80px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 200px;
  white-space: nowrap;
  justify-self: center;
}

/* Champs de saisie pour titre et catégorie */
#upload-title,
#upload-category {
  font-family: "Work Sans", sans-serif;
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  font-size: 16px;
}

/* Séparateur entre les éléments */
.separatorGallery {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: 20px 0;
}

.separatorUpload {
  width: 60%;
  height: 1px;
  background-color: grey;
  margin: 20px 0;
}

/* Bouton de validation */
.validate-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  border: none;
  width: 180px;
  text-align: center;
  border-radius: 80px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 200px;
  white-space: nowrap;
  justify-self: center;
}

.upload-container img {
  max-width: 129px;
  max-height: 252px;
  object-fit: contain;
  display: block;
}

/* Centrer le message d'erreur en bas de la modale */
#error-message {
  color: red;
  font-size: 16px;
  display: none;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
